.space-y-193 > *:not(:first-child) {
  margin-top: 6.03rem;
}
.page {
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.group {
  height: 105.38rem;
}
.group_2 {
  height: 103.75rem;
  position: relative;
}
.section {
  padding: 6.06rem 1.88rem 22.53rem;
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/63247bfa5a7e3f03106287e7/63247c54d85c64001131a6f4//16633754296828454627.png');
  background-position: 0% 0%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 13.5rem;
  position: absolute;
  left: 0;
  top: 0;
}
.group_3 {
  padding-bottom: 1.34rem;
  width: 6.39rem;
  position: absolute;
  left: 2.55rem;
  top: 1.7rem;
}
.font_1 {
  font-size: 1.25rem;
  font-family: HarmonyOSSansSC;
  line-height: 1.88rem;
  font-weight: 700;
  color: #11223f;
}
.text {
  left: 0;
  bottom: 1rem;
}
.group_4 {
  padding: 0 0.66rem;
  position: relative;
}
.font_2 {
  font-size: 0.63rem;
  font-family: HarmonyOSSansSC;
  line-height: 1.25rem;
  font-weight: 700;
  color: #11223f;
}
.space-y-27 > *:not(:first-child) {
  margin-top: 0.84rem;
}
.group_8 {
  position: relative;
}
.view {
  margin-top: 43.81rem;
}
.font_7 {
  font-size: 0.94rem;
  font-family: HarmonyOSSansSC;
  line-height: 0.89rem;
  font-weight: 700;
  color: #11223f;
}
.section_5 {
  background-color: #1968fc;
  box-shadow: 0px 0.063rem 0px #d1e1fe;
  width: 2.5rem;
  height: 0.063rem;
}
.group_9 {
  margin-top: 25.25rem;
}
.section_14 {
  background-color: #ffffff;
  box-shadow: 0px 0.63rem 1.88rem #3145f41a;
  width: 16.25rem;
  position: absolute;
  top: 90.84rem;
  left: 50%;
  transform: translateX(-50%);
}
.space-x-20 > *:not(:first-child) {
  margin-left: 0.63rem;
}
.image_7 {
  width: 2.5rem;
  height: 2.5rem;
}
.font_11 {
  font-size: 0.63rem;
  font-family: HarmonyOSSansSC;
  line-height: 0.59rem;
  font-weight: 700;
  color: #11223f;
}
.text_15 {
  margin-right: 9.09rem;
  align-self: center;
  line-height: 0.67rem;
}
.group_10 {
  padding: 0.94rem 1.25rem;
}
.font_6 {
  font-size: 0.5rem;
  font-family: HarmonyOSSansSC;
  line-height: 0.94rem;
  font-weight: 700;
  color: #11223f;
}
.image_9 {
  width: 0.78rem;
  height: 0.78rem;
  position: absolute;
  right: 1.72rem;
  bottom: 6.5rem;
}
.space-y-30 > *:not(:first-child) {
  margin-top: 0.94rem;
}
.section_11 {
  padding-bottom: 0.94rem;
  background-color: #ffffff;
  box-shadow: 0px 0.63rem 1.88rem #3145f41a;
  width: 16.25rem;
  position: absolute;
  top: 82.72rem;
  left: 50%;
  transform: translateX(-50%);
}
.text_13 {
  align-self: center;
}
.text_14 {
  align-self: center;
  width: 13.69rem;
}
.image_8 {
  width: 0.78rem;
  height: 0.78rem;
  position: absolute;
  right: 1.72rem;
  bottom: 14.63rem;
}
.section_15 {
  background-color: #1968fc;
  width: 0.094rem;
  height: 1.88rem;
  position: absolute;
  left: 3.72rem;
  top: 97.16rem;
}
.section_13 {
  background-color: #1968fc;
  width: 0.094rem;
  height: 1.88rem;
  position: absolute;
  left: 3.72rem;
  top: 89.06rem;
}
.section_10 {
  padding: 1.38rem 1.25rem 1.5rem;
  background-color: #ffffff;
  box-shadow: 0px 0.63rem 1.88rem #3145f41a;
  width: 16.25rem;
  position: absolute;
  top: 69.44rem;
  left: 50%;
  transform: translateX(-50%);
}
.font_8 {
  font-size: 0.38rem;
  font-family: HarmonyOSSansSC;
  line-height: 0.36rem;
  font-weight: 700;
  color: #11223f;
}
.font_9 {
  font-size: 0.56rem;
  font-family: HarmonyOSSansSC;
  line-height: 0.53rem;
  font-weight: 700;
  color: #1967fa;
}
.font_10 {
  font-size: 0.5rem;
  font-family: HarmonyOSSansSC;
  line-height: 0.48rem;
  font-weight: 700;
  color: #11223f;
}
.text_12 {
  margin-top: 0.91rem;
  line-height: 0.47rem;
}
.image_6 {
  width: 0.78rem;
  height: 0.78rem;
  position: absolute;
  right: 1.72rem;
  bottom: 28.53rem;
}
.section_8 {
  padding: 1.38rem 1.25rem 1.5rem;
  background-color: #ffffff;
  box-shadow: 0px 0.63rem 1.88rem #3145f41a;
  width: 16.25rem;
  position: absolute;
  top: 62.56rem;
  left: 50%;
  transform: translateX(-50%);
}
.text_10 {
  margin-top: 0.91rem;
}
.image_5 {
  width: 0.78rem;
  height: 0.78rem;
  position: absolute;
  right: 1.72rem;
  bottom: 35.41rem;
}
.section_6 {
  padding: 1.38rem 1.25rem 1.5rem;
  background-color: #ffffff;
  box-shadow: 0px 0.63rem 1.88rem #3145f41a;
  width: 16.25rem;
  position: absolute;
  top: 55.69rem;
  left: 50%;
  transform: translateX(-50%);
}
.text_8 {
  margin-top: 0.91rem;
}
.image_4 {
  width: 0.78rem;
  height: 0.78rem;
  position: absolute;
  right: 1.72rem;
  bottom: 42.28rem;
}
.section_7 {
  background-color: #1968fc;
  width: 0.094rem;
  height: 1.25rem;
  position: absolute;
  left: 3.72rem;
  top: 61.38rem;
}
.section_9 {
  background-color: #1968fc;
  width: 0.094rem;
  height: 1.25rem;
  position: absolute;
  left: 3.72rem;
  top: 68.25rem;
}
.space-y-40 > *:not(:first-child) {
  margin-top: 1.25rem;
}
.section_3 {
  padding: 1.25rem 1.25rem;
  background-color: #ffffff;
  width: 16.88rem;
  position: absolute;
  top: 29.22rem;
  left: 50%;
  transform: translateX(-50%);
}
.image_2 {
  width: 3.13rem;
  height: 3.13rem;
}
.space-y-12 > *:not(:first-child) {
  margin-top: 0.38rem;
}
.group_5 {
  align-self: center;
}
.font_4 {
  font-size: 0.56rem;
  font-family: HarmonyOSSansSC;
  line-height: 0.56rem;
  font-weight: 700;
  color: #11223f;
}
.font_5 {
  font-size: 0.44rem;
  font-family: HarmonyOSSansSC;
  line-height: 0.42rem;
  font-weight: 700;
  color: #1967fa;
}
.text_3 {
  opacity: 0.8;
}
.text_4 {
  line-height: 0.41rem;
}
.image_3 {
  filter: drop-shadow(0.031rem 0.16rem 0.13rem #f0f2f4);
  width: 1.88rem;
  height: 1.44rem;
}
.group_6 {
  align-self: flex-start;
  width: 9.45rem;
}
.text_5 {
  align-self: flex-start;
}
.section_4 {
  padding: 1.25rem 1.25rem;
  background-color: #ffffff;
  width: 16.88rem;
  position: absolute;
  top: 39.44rem;
  left: 50%;
  transform: translateX(-50%);
}
.group_7 {
  align-self: center;
}
.image {
  width: 14.91rem;
  height: 12.5rem;
  position: absolute;
  left: 0;
  top: 10.25rem;
}
.section_2 {
  padding: 1.69rem 0 1.5rem;
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/63247bfa5a7e3f03106287e7/63247c54d85c64001131a6f4//16633754296968482946.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 21.94rem;
}
.font_3 {
  font-size: 0.63rem;
  font-family: SourceHanSansCN;
  line-height: 1.25rem;
  font-weight: 800;
  color: #ffffff;
}
.group_11 {
  margin-top: -4.78rem;
  padding-bottom: 0.16rem;
  position: relative;
}
.section_16 {
  padding-bottom: 0.94rem;
  background-color: #ffffff;
  box-shadow: 0px 0.63rem 1.88rem #3145f41a;
  width: 16.25rem;
  position: relative;
}
.space-x-22 > *:not(:first-child) {
  margin-left: 0.69rem;
}
.section_12 {
  background-color: #f3f7ff;
}
.text_16 {
  align-self: center;
}
.text_17 {
  align-self: center;
  width: 13.47rem;
}
.image_10 {
  width: 0.78rem;
  height: 0.78rem;
  position: absolute;
  right: 1.72rem;
  bottom: 0;
}
.section_17 {
  padding-bottom: 1.88rem;
  background-color: #1968fc;
}
.space-y-38 > *:not(:first-child) {
  margin-top: 1.19rem;
}
.group_12 {
  padding: 1.88rem 1.88rem 1.25rem;
}
.group_13 {
  padding-bottom: 0.31rem;
}
.font_12 {
  font-size: 0.94rem;
  font-family: HarmonyOSSansSC;
  line-height: 1.88rem;
  font-weight: 700;
  color: #ffffff;
}
.text_2 {
  text-transform: uppercase;
}
.text_7 {
  margin-top: 0.5rem;
}
.text_9 {
  margin-top: 0.5rem;
}
.text_11 {
  margin-top: 0.5rem;
}
.text_6 {
  margin-left: 0.063rem;
}
.section_18 {
  align-self: flex-start;
  background-color: #ffffff;
  box-shadow: 0px 0.063rem 0px #6a9eff;
  width: 2.5rem;
  height: 0.063rem;
}
.font_13 {
  font-size: 0.63rem;
  font-family: HarmonyOSSansSC;
  line-height: 1.25rem;
  font-weight: 700;
  color: #ffffff;
}
.text-wrapper {
  margin-left: 1.59rem;
  padding-top: 0.5rem;
  align-self: flex-start;
  background-color: #ffffff;
  box-shadow: 0.13rem 0.13rem 0.63rem #ffffff66;
  width: 10rem;
  height: 1.56rem;
}
.text_18 {
  margin-left: 0.66rem;
  color: #1968fc;
  line-height: 0.63rem;
}
.line-tabs {
  padding-top: 0.63rem;
}
.group_14 {
  padding: 1.31rem 1.94rem;
}
.space-y-117 > *:not(:first-child) {
  margin-top: 3.66rem;
}
.space-y-23 > *:not(:first-child) {
  margin-top: 0.72rem;
}
.group_15 {
  align-self: center;
  width: 15.92rem;
}
.image_11 {
  width: 1.25rem;
  height: 1.03rem;
}
.text_19 {
  margin: 0.19rem 0 0.25rem 0.66rem;
  color: #111111;
}
.text_20 {
  align-self: flex-end;
  color: #000000;
  width: 14.03rem;
}
.section_19 {
  padding: 0.63rem 1.25rem 1.31rem 1.88rem;
  background-color: #fbfbfb;
}
.group_16 {
  margin-top: 0.78rem;
}
.button {
  padding: 0.63rem 0;
  align-self: flex-start;
  background-color: #1968fc0d;
  width: 6.25rem;
}
.font_14 {
  font-size: 0.44rem;
  font-family: HarmonyOSSansSC;
  line-height: 0.42rem;
  font-weight: 700;
  color: #000000;
}
.text_21 {
  color: #1968fc;
  line-height: 0.33rem;
}
.group_17 {
  padding-top: 1rem;
}
.text_22 {
  line-height: 0.41rem;
}
.text_23 {
  margin-left: 0.25rem;
}
.text_24 {
  margin-left: 0.56rem;
}
.section_20 {
  background-color: #d8d8d800;
  width: 1.56rem;
  height: 1.56rem;
}
.view_2 {
  margin-left: 2rem;
}
.image_12 {
  flex-shrink: 0;
  align-self: flex-start;
  width: 4.5rem;
  height: 2.59rem;
}